/* All Shared Styles */

* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Patrick Hand', cursive;

}


/* header section styles */
.navbar-logo {}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(240, 230, 230, 0.61);
    position: fixed;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 60px;
    font-family: 'Lato', sans-serif;



}

.navbar-list {
    gap: 25px;
    font-weight: 900;
    padding-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 150px;
    font-family: 'Lato', sans-serif;

}

.nav-bar:hover {
    color: #E55473;
}

.nav-bar {
    font-weight: 900;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 22px;
    text-decoration: none;
    color: rgb(112, 99, 99);
    font-family: 'Lato', sans-serif;
}



nav {
    font-family: 'Lato', sans-serif;

}

.nav-title {
    color: #E55473;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 800;
    padding-top: 5px;
    padding-left: 180px;


}

.nav-title-color {
    color: black;
    font-family: 'Lato', sans-serif;
}




.first-landing-page {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 190px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: auto;



}

.flp-left {
    padding-top: 165px;


}








.flp-title {

    color: #272727;
    font-size: 65px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
    font-family: Lato;



}


.flp-description {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0px 25px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* Right part */

.flp-right img {
    width: 517px;
    padding-top: 68px;
    padding-bottom: 0px;
    margin-bottom: -3px;




}

/* second page styles */
.second-landing-page {
    margin-top: 150px;
}

.slp-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.titlefor {
    font-family: 'Lato', sans-serif;

}

.slp-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: -17px;


}

.fp-with-background {
    display: flex;
    gap: 7px;
    justify-content: space-around;
    align-items: center;
    margin-right: 190px;
    margin-left: 170px;
    margin-top: 40px;
    margin-top: 40px;

}



.flowers-picture img {
    width: 72%;
    height: 389px;

}

.fp-f {

    margin: 10px;
    padding-top: 80px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.fp-s {
    margin: 10px;
    width: 283px;
    height: 389px;
    margin-left: 45px;
    padding-top: 80px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.fp-t {
    width: 283px;
    height: 389px;
    margin: 10px;
    padding-top: 80px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


.fp-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    list-style: none;
    margin-top: 12px;
}

/* 2nd landing page part-2 */
.slpp2 {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 112px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 80px;

}

.slpp2-description {
    padding-bottom: 50px;
    justify-content: center;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-weight: 600;

}

.slapp2-container {
    text-align: center;
}

/* 3rd landing page  */
.landing-page3-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 150px;

}

.landing-page3-left {

    margin-top: 200PX;
    text-align: center;
}

.landing-page3-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.landing-page3-title-off {
    color: #E55473;
}

.landing-page3-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 25px;

}

.landing-page3-img {
    margin-top: 100px;

}

/* Page 4 */

.landing-page-4-title {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 15px;
}

.landing-page-4-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 23px;
}

.landing-page-4-images {
    display: flex;
    justify-content: center;
    width: 71%;
    margin-left: 220px;
}

.landing-page-4-images img {
    padding: 8px;
    height: 318px;
    border-radius: 25px;
    border: transparent;

}

/* 5th pageee */


.section-5 {
    background-image: url('./Asset/bg.png');
    /* position: absolute; */
    justify-content: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 76%;
    margin-top: 100px;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-left: 180px;


}

.section-5-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;

}

.section-5-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    padding-bottom: 25px;
}

.box-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;


}

.section-5 input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 39px;
    width: 530px;

}

.btn-last {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 13px;
    cursor: pointer;
}

/* footer styles */

.f-title {

    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}

.f-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.f-title-color {
    color: #FFFFFF;
}

footer {
    background: #111010;

}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}

.f-container {
    text-align: center;
    padding-bottom: 100px;
}

/* Bonus section */

.review-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 70px;
    margin-bottom: 15px;
    margin-top: 90px;

}

.review-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
}

.review-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 5px solid #E55473; */
}

.review-1 {
    text-align: center;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    width: 250px;

}

.review-container {
    padding-top: 30px;
    display: flex;
    padding-bottom: 70px;
    gap: 70px;
    align-items: center;
    justify-content: center;
    padding-right: 17px;




}

.review {
    background-color: #E554731A;

}

.profile-title {
    padding-top: 25px;
    padding-bottom: 14px;
    color: #E55473;
    font-weight: 800;
    font-size: 30px;
}

/* .profile-description {
    text-align: center;
} */
/* 

#alvi {
    padding-bottom: 29px;
} */